# Copyright 2025 Morse Micro
# SPDX-License-Identifier: Apache-2.0

config MBEDTLS_ZEPHYR_ENTROPY
	bool

source "Kconfig.zephyr"

config WIFI_SSID
    string "Wi-Fi SSID of the AP we want to connect to"
    default "MorseMicro"

config WIFI_PSK
    string "Password of the AP we want to connect to"
    default "12345678"

config MQTT_BROKER_ADDR
    string "Address the MQTT broker is running on"
    default "192.168.12.1"

config MQTT_BROKER_PORT
    int "Port the MQTT broker is running on"
    default 1883
