#include <zephyr/dt-bindings/i2c/i2c.h>

/*
 * FGH200M / MM8108 carrier wiring from the 2026-09-10 pin schematic:
 *   IMU_INT1       -> P0.02
 *   IMU_SDA/SCL    -> P0.04/P0.03 (TWIM30)
 *   LED / KEY      -> P2.05/P1.08 (both active-low)
 *   VBAT / enable  -> P1.13 (AIN6)/P1.14
 *   GPS wake/RX/TX -> P1.09/P1.11/P1.12
 *   HaLow power    -> P2.00
 *   CS/SCK/MISO/MOSI -> P1.07/P2.01/P2.04/P2.02
 *   IRQ/BUSY/WAKE/RESETn -> P1.06/P1.10/P1.05/P1.04
 */

/ {
	leds {
		compatible = "gpio-leds";

		fgh200m_led: fgh200m_led {
			gpios = <&gpio2 5 GPIO_ACTIVE_LOW>;
			label = "FGH200M user LED";
		};
	};

	aliases {
		led0 = &fgh200m_led;
		imu0 = &lsm6ds3tr_c;
		gps0 = &uart22;
		vbatt = &vbatt;
	};

	zephyr,user {
		halow-power-en-gpios = <&gpio2 0 GPIO_ACTIVE_HIGH>;
		key-gpios = <&gpio1 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		gps-wake-gpios = <&gpio1 9 GPIO_ACTIVE_HIGH>;
	};

	vbatt: vbatt {
		compatible = "voltage-divider";
		io-channels = <&adc 6>;
		output-ohms = <100000>;
		full-ohms = <200000>;
		power-gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
	};
};

/* The stock XIAO LED occupies the HaLow power-enable pin. */
&led0 {
	status = "disabled";
};

/* P1.08 is the key, so the default UART20 RX pin cannot be used. */
&uart20 {
	status = "disabled";
};

&usr_btn {
	gpios = <&gpio1 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	label = "KEY";
};

&i2c30_default {
	group1 {
		psels = <NRF_PSEL(TWIM_SDA, 0, 4)>,
			<NRF_PSEL(TWIM_SCL, 0, 3)>;
		bias-pull-up;
	};
};

&i2c30 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&lsm6ds3tr_c {
	status = "okay";
	irq-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
	zephyr,deferred-init;
};

&pinctrl {
	fgh200m_gps_default: fgh200m_gps_default {
		group1 {
			/* Module RXD is driven by the MCU TX pin. */
			psels = <NRF_PSEL(UART_TX, 1, 11)>;
		};

		group2 {
			/* Module TXD drives the MCU RX pin. */
			psels = <NRF_PSEL(UART_RX, 1, 12)>;
			bias-pull-up;
		};
	};

	fgh200m_gps_sleep: fgh200m_gps_sleep {
		group1 {
			psels = <NRF_PSEL(UART_TX, 1, 11)>,
				<NRF_PSEL(UART_RX, 1, 12)>;
			low-power-enable;
		};
	};
};

/* UART22 and I2C22 are alternate modes of the same serial peripheral. */
/delete-node/ &i2c22;

&uart22 {
	status = "okay";
	current-speed = <9600>;
	pinctrl-0 = <&fgh200m_gps_default>;
	pinctrl-1 = <&fgh200m_gps_sleep>;
	pinctrl-names = "default", "sleep";
};

&rfsw_ctl {
	status = "disabled";
};

&rfsw_pwr {
	status = "disabled";
};

&xiao_spi {
	status = "okay";
	cs-gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;

	morse_wifi: morse@0 {
		status = "okay";
		compatible = "morse,mm8108";
		spi-max-frequency = <12000000>;
		reg = <0>;

		power-en-gpios = <&gpio2 0 GPIO_ACTIVE_HIGH>;
		spi-irq-gpios = <&gpio1 6 GPIO_ACTIVE_LOW>;
		busy-gpios = <&gpio1 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		wakeup-gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
		resetn-gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
	};
};
